$shadowStroke: max(calc(1vw), 10px);

.eclipse{
    display: block;
    height: 99vh;
    position: relative;
    overflow: hidden;
}

.sky{
    width: 100vw;
    height: 99.2vh;
    position: relative;
    top: 0;
    left: 0;
}

.sun{
    max-width: 400px;
    max-height: 400px;
    width: 40%;
    background-color: #FFDE00;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -150%;
    left: 0;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    animation-name: sunrise, glowing;
    animation-duration: 4s, 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease, ease-in-out;
    animation-iteration-count: 1, infinite;
    box-shadow: 
        0px 0px 0px $shadowStroke #ffdd0097,
        0px 0px 0px calc($shadowStroke*2.5) #ffdd0097,
        0px 0px 0px calc($shadowStroke*5) #ffdd0097,
        0px 0px 30px calc($shadowStroke*7.5) #ffdd0097,
        ;
}

@keyframes sunrise{
    100% {
        right: 0;
    }
}

@keyframes glowing{
    0%{
        box-shadow: 
        0px 0px 0px $shadowStroke #ffdd0097,
        0px 0px 0px calc($shadowStroke*2.5) #ffdd0097,
        0px 0px 0px calc($shadowStroke*5) #ffdd0097,
        0px 0px 30px calc($shadowStroke*7.5) #ffdd0097,
        ;
    }
    50% {
        box-shadow: 
        0px 0px 0px $shadowStroke #ffdd0097,
        0px 0px 0px calc($shadowStroke*4.5) #ffdd0097,
        0px 0px 0px calc($shadowStroke*7.5) #ffdd0097,
        0px 0px 30px calc($shadowStroke*9.5) #92929297,
        ;
    }
    100%{
        box-shadow: 
        0px 0px 0px $shadowStroke #ffdd0097,
        0px 0px 0px calc($shadowStroke*2.5) #ffdd0097,
        0px 0px 0px calc($shadowStroke*5) #ffdd0097,
        0px 0px 30px calc($shadowStroke*7.5) #ffdd0097,
        ;
    }
}

.moon{
    max-width: 450px;
    max-height: 450px;
    width: 40%;
    background-color: rgb(60, 60, 60);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -150%;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    animation-name: moonrise;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes moonrise{
    100% {
        left: 0;
    }
}