.partialEclipse {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.sun {
    width: 200px;
    height: 200px;
    transform: translate(0%);
    border-radius: 50%;
    background: #DBE6E0;
    box-shadow: 0 0 50px rgba(219, 230, 224, 1);
  }
  
.moon {
    position: absolute;
    left: 10px;
    top: 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #010101;
    box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
    transform-origin: 50% 150%;
    transform: rotate(10deg);
}

.moon.animate {
  transform: rotate(-60deg);
  animation: eclipsePartial 10s infinite linear alternate;
}

.partialEclipse.animate {
    opacity: 1;
}

@keyframes eclipsePartial {
    0% {
      transform: rotate(-50deg);
    }
  
    45%, 55% {
      transform: rotate(10deg);
    }
  
    90% {
      transform: rotate(30deg);
    }
  
    100% {
      transform: rotate(50deg);
    }
}
